/*
 * NamoCrossUploader css file.
 * Copyright NAMO Interactive Inc.
 */

/**
* NamoCrossUploader Monitor â�� ��׶��� ��Ÿ���Դϴ�.
*/
.monitorBgLayer {
   position:absolute;                    
   left: 0px;top: 0px;             
   width: 100%;
   height: 100%;
   background-color: black;
   opacity:0.30; /* firefox, opera, safari, chrome */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)"; /* IE 8 */
   filter:alpha(opacity=30); /* IE 4, 5, 6 and 7 */   
   z-index: 101;
}  

/**
* NamoCrossUploader Monitor â�� ��Ÿ���Դϴ�.
*/ 
.monitorLayer {
   position:absolute;                    
   top: 25%;left:30%;
   width: 610px;height: 358px;
   margin-top: 0px;margin-left: 0px;
   background-color: white;
   z-index: 102;
}

/**
* NamoCrossUploader �̾� �ø��� �ɼ� â�� ��׶��� ��Ÿ���Դϴ�.
*/
.resumeOptionBgLayer {
    position:absolute;                    
    left: 0px;top: 0px;             
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:0.30; /* firefox, opera, safari, chrome */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=30)"; /* IE 8 */
    filter:alpha(opacity=30); /* IE 4, 5, 6 and 7 */   
    z-index: 103;
}

/**
* NamoCrossUploader �̾� �ø��� �ɼ� â�� ��Ÿ���Դϴ�.
*/
.resumeOptionLayer {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 470px;
    height: 272px;
    margin-top: 0px;
    margin-left: 0px;
    background-color: white;
    z-index: 104;
}

/**
NamoCrossUploader Image Preview ��Ÿ���Դϴ�.
*/
.imagePreviewBgLayer {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.30; /* firefox, opera, safari, chrome */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=30)"; /* IE 8 */
    filter: alpha(opacity=30); /* IE 4, 5, 6 and 7 */
    z-index: 101;
}

.imagePreviewLayer {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 102;
}

.imagePreviewLayer img {
    display: inline-block;
    background-color: black;
    vertical-align: middle;
    cursor: pointer;
}

.imagePreviewLayer span {
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}


/**
* SlickGrid ��Ÿ���Դϴ�.
*/
.slick-viewport .slick-cell {
    border: none;
}
/* 커스텀 스타일 - 그리드 안의 체크박스 센터 */
.slick-viewport .slick-cell.slick-cell-checkboxsel {
    align-content: center;
    text-align: center;
}

/* 커스텀 스타일 - 파일 테이블 헤더 */
.slick-header-columns {
    font-size: 13px;
}
.slick-header-column {
    text-align: center;
    height: 24px !important;
}
/* 커스텀 스타일 - 파일 목록 */
.slick-viewport {
    font-size: 14px;
}
.slick-viewport .slick-grid-filesize { 
    text-align:right;
}
.slick-viewport .slick-grid-transfer-status { 
    text-align:center;
}
.slick-viewport .slick-grid-download-button { 
    text-align:center;
}
/* 커스텀 스타일 - 그리드 안의 체크박스 */
.ui-widget {
    input { -webkit-appearance: auto !important; appearance: auto !important; }
}