/* ============================================================
   fileUploader.css
   ============================================================ */

/* --- Container --- */
.file-uploader {width:100%;}

/* --- Toolbar --- */
.file-uploader-input {display:none;}

/* --- Table --- */
.file-uploader-table .table {border-top-color:var(--color-border-grid); font-size:1.3rem; table-layout:fixed; --table-height:3.0rem;}
.file-uploader-table tbody tr.-selected td {background-color:var(--color-bg-grid-body-hover);}
.file-uploader-table .col-check {width:8.0rem;}
.file-uploader-table .col-size {width:20.0rem;}
.file-uploader-table .col-status {width:15.0rem;}

/* --- Name Cell --- */
.file-uploader-file-icon {vertical-align:middle;}
.file-uploader-filename {display:inline-block; overflow:hidden; min-width:0; max-width:90%; vertical-align:middle; white-space:nowrap; text-overflow:ellipsis;}

/* --- Status --- */
.file-uploader-status.-waiting {color:var(--color-text-secondary);}
.file-uploader-status.-uploading {color:var(--color-primary);}
.file-uploader-status.-done {color:var(--color-success, #21a038);}
.file-uploader-status.-fail {color:var(--color-error, #e22c2c);}

/* ============================================================
   Media Query
   ============================================================ */
@media screen and (width <= 768px) {
    /* --- Table --- */
    .file-uploader-table {padding:0;}
    .file-uploader-table .col-check {width:auto;}
    .file-uploader-table .col-size {width:auto;}
    .file-uploader-table .col-status {width:auto;}
}
