/* ============================================================
   form.css
   ============================================================ */
.form-label {display:block; margin-bottom:0.4rem; color:var(--color-text-form-label-default); font-weight:600; font-size:1.4rem; cursor:pointer;}