/* ============================================================
   icon.css
   ============================================================ */

/* --- Icon - Base --- */
.ico {--icon-size:1.6rem; --ic-mode-bg:var(--ic-url); --ic-mode-mask:none; --ic-mode-color:transparent; display:inline-block; flex-shrink:0; justify-content:center; align-items:center; width:var(--icon-size); height:var(--icon-size); vertical-align:middle;}
.ico::before {content:""; display:block; width:100%; height:100%; background-color:var(--ic-mode-color); background-image:var(--ic-mode-bg); background-repeat:no-repeat; background-position:center; background-size:contain; -webkit-mask-image:var(--ic-mode-mask); -webkit-mask-repeat:no-repeat; -webkit-mask-position:center; -webkit-mask-size:contain; mask-image:var(--ic-mode-mask); mask-repeat:no-repeat; mask-position:center; mask-size:contain;}
.ico.-colored {--ic-mode-bg:none; --ic-mode-mask:var(--ic-url); --ic-mode-color:currentcolor;}

/* --- Icon - Sizes --- */
.ico.-x18 {--icon-size:1.8rem;}
.ico.-x20 {--icon-size:2.0rem;}
.ico.-x24 {--icon-size:2.4rem;}
.ico.-x32 {--icon-size:3.2rem;}

/* --- Icon --- */
.ico-add {--ic-url:var(--ico-add-x32);} 
.ico-approval {--ic-url:var(--ico-approval-x20);} 
.ico-arrow-down {--ic-url:var(--ico-arrow-down-x32);} 
.ico-arrow-left {--ic-url:var(--ico-arrow-left-x32);} 
.ico-arrow-right {--ic-url:var(--ico-arrow-right-x32);} 
.ico-arrow-up {--ic-url:var(--ico-arrow-up-x32);} 
.ico-ascending {--ic-url:var(--ico-ascending-x18);} 
.ico-asterisk {--ic-url:var(--ico-asterisk-x18);} 
.ico-attachment {--ic-url:var(--ico-attachment-x32);} 
.ico-banner {--ic-url:var(--ico-banner-x32);} 
.ico-bell {--ic-url:var(--ico-bell-x32);} 
.ico-blank {--ic-url:var(--ico-blank-x32);} 
.ico-calendar {--ic-url:var(--ico-calendar-x32);} 
.ico-calendar2 {--ic-url:var(--ico-calendar2-x20);} 
.ico-call {--ic-url:var(--ico-call-x32);} 
.ico-chart {--ic-url:var(--ico-chart-x32);} 
.ico-checklist {--ic-url:var(--ico-checklist-x32);} 
.ico-close {--ic-url:var(--ico-close-x32);} 
.ico-community {--ic-url:var(--ico-community-x32);} 
.ico-completed {--ic-url:var(--ico-completed-x20);} 
.ico-contents {--ic-url:var(--ico-contents-x32);} 
.ico-descending {--ic-url:var(--ico-descending-x18);} 
.ico-down {--ic-url:var(--ico-down-x18);} 
.ico-download {--ic-url:var(--ico-download-x32);} 
.ico-education {--ic-url:var(--ico-education-x32);} 
.ico-email {--ic-url:var(--ico-email-x32);} 
.ico-erp {--ic-url:var(--ico-erp-x32);} 
.ico-excel {--ic-url:var(--ico-excel-x32);} 
.ico-expandable-list {--ic-url:var(--ico-expandable-list-x18);} 
.ico-external-link {--ic-url:var(--ico-external-link-x32);} 
.ico-favorite {--ic-url:var(--ico-favorite-x20);} 
.ico-first {--ic-url:var(--ico-first-x32);} 
.ico-folder {--ic-url:var(--ico-folder-x32);} 
.ico-home {--ic-url:var(--ico-home-x32);} 
.ico-inbox {--ic-url:var(--ico-inbox-x32);} 
.ico-info {--ic-url:var(--ico-info-x32);} 
.ico-info-filled {--ic-url:var(--ico-info-filled-x18);} 
.ico-infor {--ic-url:var(--ico-infor-x32);} 
.ico-kebab {--ic-url:var(--ico-kebab-x20);} 
.ico-last {--ic-url:var(--ico-last-x32);} 
.ico-leave {--ic-url:var(--ico-leave-x20);} 
.ico-left {--ic-url:var(--ico-left-x18);} 
.ico-location {--ic-url:var(--ico-location-x32);} 
.ico-management {--ic-url:var(--ico-management-x32);} 
.ico-meeting {--ic-url:var(--ico-meeting-x20);} 
.ico-menu {--ic-url:var(--ico-menu-x32);} 
.ico-menu2 {--ic-url:var(--ico-menu2-x32);} 
.ico-message {--ic-url:var(--ico-message-x32);} 
.ico-message2 {--ic-url:var(--ico-message2-x20);} 
.ico-money {--ic-url:var(--ico-money-x24);} 
.ico-new {--ic-url:var(--ico-new-x24);} 
.ico-notice {--ic-url:var(--ico-notice-x20);} 
.ico-org-char {--ic-url:var(--ico-org-char-x32);} 
.ico-organization {--ic-url:var(--ico-organization-x20);} 
.ico-pencil {--ic-url:var(--ico-pencil-x32);} 
.ico-pending {--ic-url:var(--ico-pending-x20);} 
.ico-popup {--ic-url:var(--ico-popup-x32);} 
.ico-port {--ic-url:var(--ico-port-x32);} 
.ico-post-latest {--ic-url:var(--ico-post-latest-x20);} 
.ico-price {--ic-url:var(--ico-price-x32);} 
.ico-rejected {--ic-url:var(--ico-rejected-x20);} 
.ico-request {--ic-url:var(--ico-request-x20);} 
.ico-reset {--ic-url:var(--ico-reset-x32);} 
.ico-right {--ic-url:var(--ico-right-x18);} 
.ico-scheduled {--ic-url:var(--ico-scheduled-x20);} 
.ico-search {--ic-url:var(--ico-search-x32);} 
.ico-settings {--ic-url:var(--ico-settings-x32);} 
.ico-site {--ic-url:var(--ico-site-x32);} 
.ico-star {--ic-url:var(--ico-star-x32);} 
.ico-star-filled {--ic-url:var(--ico-star-filled-x32);} 
.ico-survey {--ic-url:var(--ico-survey-x32);} 
.ico-technology {--ic-url:var(--ico-technology-x32);} 
.ico-tree-view-minus {--ic-url:var(--ico-tree-view-minus-x18);} 
.ico-tree-view-plus {--ic-url:var(--ico-tree-view-plus-x18);} 
.ico-up {--ic-url:var(--ico-up-x18);} 
.ico-user {--ic-url:var(--ico-user-x32);} 
.ico-user-check {--ic-url:var(--ico-user-check-x32);} 
.ico-up-down {--ic-url:var(--ico-up-down-x32);}
.ico-vote {--ic-url:var(--ico-vote-x32);} 
.ico-vote2 {--ic-url:var(--ico-vote2-x20);} 
.ico-warning {--ic-url:var(--ico-warning-x32);}
.ico-siren {--ic-url:var(--ico-siren-x32);}
.ico-oil {--ic-url:var(--ico-oil-x20);}
.ico-data-search {--ic-url:var(--ico-data-search-x20);}
.ico-bank {--ic-url:var(--ico-bank-x18);}
.ico-bank-line {--ic-url:var(--ico-bank-line-x18);}
.ico-calculating-machine {--ic-url:var(--ico-calculating-machine-x18);}
.ico-company-vehicle {--ic-url:var(--ico-company-vehicle-x18);}
.ico-global {--ic-url:var(--ico-global-x18);}
.ico-leave-line {--ic-url:var(--ico-leave-line-x18);}
.ico-meeting-line {--ic-url:var(--ico-meeting-line-x18);}
.ico-menu-w {--ic-url:var(--ico-menu-w-x18);}
.ico-oil-prices {--ic-url:var(--ico-oil-prices-x18);}
.ico-relaxation {--ic-url:var(--ico-relaxation-x18);}
.ico-speaker {--ic-url:var(--ico-speaker-x18);}
.ico-stock-price {--ic-url:var(--ico-stock-price-x18);}
.ico-register {--ic-url:var(--ico-register-x18);}

/* --- Icon - 18*18 Size --- */
.ico-add.-x18 {--ic-url:var(--ico-add-x18);} 
.ico-arrow-down.-x18 {--ic-url:var(--ico-arrow-down-x18);} 
.ico-arrow-left.-x18 {--ic-url:var(--ico-arrow-left-x18);} 
.ico-arrow-right.-x18 {--ic-url:var(--ico-arrow-right-x18);} 
.ico-arrow-up.-x18 {--ic-url:var(--ico-arrow-up-x18);} 
.ico-ascending.-x18 {--ic-url:var(--ico-ascending-x18);} 
.ico-asterisk.-x18 {--ic-url:var(--ico-asterisk-x18);} 
.ico-attachment.-x18 {--ic-url:var(--ico-attachment-x18);} 
.ico-banner.-x18 {--ic-url:var(--ico-banner-x18);} 
.ico-bell.-x18 {--ic-url:var(--ico-bell-x18);} 
.ico-blank.-x18 {--ic-url:var(--ico-blank-x18);} 
.ico-calendar.-x18 {--ic-url:var(--ico-calendar-x18);} 
.ico-call.-x18 {--ic-url:var(--ico-call-x18);} 
.ico-chart.-x18 {--ic-url:var(--ico-chart-x18);} 
.ico-checklist.-x18 {--ic-url:var(--ico-checklist-x18);} 
.ico-close.-x18 {--ic-url:var(--ico-close-x18);} 
.ico-community.-x18 {--ic-url:var(--ico-community-x18);} 
.ico-contents.-x18 {--ic-url:var(--ico-contents-x18);} 
.ico-descending.-x18 {--ic-url:var(--ico-descending-x18);} 
.ico-down.-x18 {--ic-url:var(--ico-down-x18);} 
.ico-download.-x18 {--ic-url:var(--ico-download-x18);} 
.ico-education.-x18 {--ic-url:var(--ico-education-x18);} 
.ico-email.-x18 {--ic-url:var(--ico-email-x18);} 
.ico-erp.-x18 {--ic-url:var(--ico-erp-x18);} 
.ico-excel.-x18 {--ic-url:var(--ico-excel-x18);} 
.ico-expandable-list.-x18 {--ic-url:var(--ico-expandable-list-x18);} 
.ico-external-link.-x18 {--ic-url:var(--ico-external-link-x18);} 
.ico-first.-x18 {--ic-url:var(--ico-first-x18);} 
.ico-folder.-x18 {--ic-url:var(--ico-folder-x18);} 
.ico-home.-x18 {--ic-url:var(--ico-home-x18);} 
.ico-inbox.-x18 {--ic-url:var(--ico-inbox-x18);} 
.ico-info.-x18 {--ic-url:var(--ico-info-x18);} 
.ico-info-filled.-x18 {--ic-url:var(--ico-info-filled-x18);} 
.ico-infor.-x18 {--ic-url:var(--ico-infor-x18);} 
.ico-last.-x18 {--ic-url:var(--ico-last-x18);} 
.ico-left.-x18 {--ic-url:var(--ico-left-x18);} 
.ico-location.-x18 {--ic-url:var(--ico-location-x18);} 
.ico-management.-x18 {--ic-url:var(--ico-management-x18);} 
.ico-menu.-x18 {--ic-url:var(--ico-menu-x18);} 
.ico-menu2.-x18 {--ic-url:var(--ico-menu2-x18);} 
.ico-message.-x18 {--ic-url:var(--ico-message-x18);} 
.ico-new.-x18 {--ic-url:var(--ico-new-x18);} 
.ico-org-char.-x18 {--ic-url:var(--ico-org-char-x18);} 
.ico-pencil.-x18 {--ic-url:var(--ico-pencil-x18);} 
.ico-popup.-x18 {--ic-url:var(--ico-popup-x18);} 
.ico-port.-x18 {--ic-url:var(--ico-port-x18);} 
.ico-price.-x18 {--ic-url:var(--ico-price-x18);} 
.ico-reset.-x18 {--ic-url:var(--ico-reset-x18);} 
.ico-right.-x18 {--ic-url:var(--ico-right-x18);} 
.ico-search.-x18 {--ic-url:var(--ico-search-x18);} 
.ico-settings.-x18 {--ic-url:var(--ico-settings-x18);} 
.ico-site.-x18 {--ic-url:var(--ico-site-x18);} 
.ico-star.-x18 {--ic-url:var(--ico-star-x18);} 
.ico-survey.-x18 {--ic-url:var(--ico-survey-x18);} 
.ico-technology.-x18 {--ic-url:var(--ico-technology-x18);} 
.ico-tree-view-minus.-x18 {--ic-url:var(--ico-tree-view-minus-x18);} 
.ico-tree-view-plus.-x18 {--ic-url:var(--ico-tree-view-plus-x18);} 
.ico-up.-x18 {--ic-url:var(--ico-up-x18);} 
.ico-user.-x18 {--ic-url:var(--ico-user-x18);} 
.ico-user-check.-x18 {--ic-url:var(--ico-user-check-x18);} 
.ico-up-down.-x18 {--ic-url:var(--ico-up-down-x18);}
.ico-vote.-x18 {--ic-url:var(--ico-vote-x18);} 
.ico-warning.-x18 {--ic-url:var(--ico-warning-x18);}
.ico-bank.-x18 {--ic-url:var(--ico-bank-x18);}
.ico-bank-line.-x18 {--ic-url:var(--ico-bank-line-x18);}
.ico-calculating-machine.-x18 {--ic-url:var(--ico-calculating-machine-x18);}
.ico-company-vehicle.-x18 {--ic-url:var(--ico-company-vehicle-x18);}
.ico-global.-x18 {--ic-url:var(--ico-global-x18);}
.ico-leave-line.-x18 {--ic-url:var(--ico-leave-line-x18);}
.ico-meeting-line.-x18 {--ic-url:var(--ico-meeting-line-x18);}
.ico-menu-w.-x18 {--ic-url:var(--ico-menu-w-x18);}
.ico-oil-prices.-x18 {--ic-url:var(--ico-oil-prices-x18);}
.ico-relaxation.-x18 {--ic-url:var(--ico-relaxation-x18);}
.ico-speaker.-x18 {--ic-url:var(--ico-speaker-x18);}
.ico-stock-price.-x18 {--ic-url:var(--ico-stock-price-x18);}
.ico-register.-x18 {--ic-url:var(--ico-register-x18);}

/* --- Icon - 20*20 Size --- */
.ico-approval.-x20 {--ic-url:var(--ico-approval-x20);} 
.ico-calendar2.-x20 {--ic-url:var(--ico-calendar2-x20);} 
.ico-completed.-x20 {--ic-url:var(--ico-completed-x20);} 
.ico-education.-x20 {--ic-url:var(--ico-education-x20);} 
.ico-favorite.-x20 {--ic-url:var(--ico-favorite-x20);} 
.ico-kebab.-x20 {--ic-url:var(--ico-kebab-x20);} 
.ico-leave.-x20 {--ic-url:var(--ico-leave-x20);} 
.ico-meeting.-x20 {--ic-url:var(--ico-meeting-x20);} 
.ico-message2.-x20 {--ic-url:var(--ico-message2-x20);} 
.ico-notice.-x20 {--ic-url:var(--ico-notice-x20);} 
.ico-organization.-x20 {--ic-url:var(--ico-organization-x20);} 
.ico-pending.-x20 {--ic-url:var(--ico-pending-x20);} 
.ico-post-latest.-x20 {--ic-url:var(--ico-post-latest-x20);} 
.ico-rejected.-x20 {--ic-url:var(--ico-rejected-x20);} 
.ico-request.-x20 {--ic-url:var(--ico-request-x20);} 
.ico-scheduled.-x20 {--ic-url:var(--ico-scheduled-x20);} 
.ico-survey.-x20 {--ic-url:var(--ico-survey-x20);} 
.ico-vote2.-x20 {--ic-url:var(--ico-vote2-x20);}
.ico-oil.-x20 {--ic-url:var(--ico-oil-x20);}
.ico-data-search.-x20 {--ic-url:var(--ico-data-search-x20);}
.ico-exchange.-x20 {--ic-url:var(--ico-exchange-x20);}
.ico-interest-rate.-x20 {--ic-url:var(--ico-interest-rate-x20);}

/* --- Icon - 24*24 Size --- */
.ico-add.-x24 {--ic-url:var(--ico-add-x24);} 
.ico-arrow-down.-x24 {--ic-url:var(--ico-arrow-down-x24);} 
.ico-arrow-left.-x24 {--ic-url:var(--ico-arrow-left-x24);} 
.ico-arrow-right.-x24 {--ic-url:var(--ico-arrow-right-x24);} 
.ico-arrow-up.-x24 {--ic-url:var(--ico-arrow-up-x24);} 
.ico-attachment.-x24 {--ic-url:var(--ico-attachment-x24);} 
.ico-banner.-x24 {--ic-url:var(--ico-banner-x24);} 
.ico-bell.-x24 {--ic-url:var(--ico-bell-x24);} 
.ico-blank.-x24 {--ic-url:var(--ico-blank-x24);} 
.ico-calendar.-x24 {--ic-url:var(--ico-calendar-x24);} 
.ico-call.-x24 {--ic-url:var(--ico-call-x24);} 
.ico-chart.-x24 {--ic-url:var(--ico-chart-x24);} 
.ico-checklist.-x24 {--ic-url:var(--ico-checklist-x24);} 
.ico-close.-x24 {--ic-url:var(--ico-close-x24);} 
.ico-community.-x24 {--ic-url:var(--ico-community-x24);} 
.ico-contents.-x24 {--ic-url:var(--ico-contents-x24);} 
.ico-download.-x24 {--ic-url:var(--ico-download-x24);} 
.ico-education.-x24 {--ic-url:var(--ico-education-x24);} 
.ico-email.-x24 {--ic-url:var(--ico-email-x24);} 
.ico-erp.-x24 {--ic-url:var(--ico-erp-x24);} 
.ico-excel.-x24 {--ic-url:var(--ico-excel-x24);} 
.ico-external-link.-x24 {--ic-url:var(--ico-external-link-x24);} 
.ico-first.-x24 {--ic-url:var(--ico-first-x24);} 
.ico-folder.-x24 {--ic-url:var(--ico-folder-x24);} 
.ico-home.-x24 {--ic-url:var(--ico-home-x24);} 
.ico-inbox.-x24 {--ic-url:var(--ico-inbox-x24);} 
.ico-info.-x24 {--ic-url:var(--ico-info-x24);} 
.ico-infor.-x24 {--ic-url:var(--ico-infor-x24);} 
.ico-last.-x24 {--ic-url:var(--ico-last-x24);} 
.ico-location.-x24 {--ic-url:var(--ico-location-x24);} 
.ico-management.-x24 {--ic-url:var(--ico-management-x24);} 
.ico-menu.-x24 {--ic-url:var(--ico-menu-x24);} 
.ico-message.-x24 {--ic-url:var(--ico-message-x24);} 
.ico-money.-x24 {--ic-url:var(--ico-money-x24);} 
.ico-new.-x24 {--ic-url:var(--ico-new-x24);} 
.ico-org-char.-x24 {--ic-url:var(--ico-org-char-x24);} 
.ico-pencil.-x24 {--ic-url:var(--ico-pencil-x24);} 
.ico-popup.-x24 {--ic-url:var(--ico-popup-x24);} 
.ico-port.-x24 {--ic-url:var(--ico-port-x24);} 
.ico-price.-x24 {--ic-url:var(--ico-price-x24);} 
.ico-reset.-x24 {--ic-url:var(--ico-reset-x24);} 
.ico-search.-x24 {--ic-url:var(--ico-search-x24);} 
.ico-settings.-x24 {--ic-url:var(--ico-settings-x24);} 
.ico-site.-x24 {--ic-url:var(--ico-site-x24);} 
.ico-star.-x24 {--ic-url:var(--ico-star-x24);} 
.ico-survey.-x24 {--ic-url:var(--ico-survey-x24);} 
.ico-technology.-x24 {--ic-url:var(--ico-technology-x24);} 
.ico-user.-x24 {--ic-url:var(--ico-user-x24);} 
.ico-user-check.-x24 {--ic-url:var(--ico-user-check-x24);}
.ico-up-down.-x24 {--ic-url:var(--ico-up-down-x24);}
.ico-vote.-x24 {--ic-url:var(--ico-vote-x24);} 
.ico-warning.-x24 {--ic-url:var(--ico-warning-x24);}

/* --- Icon - 32*32 Size --- */
.ico-add.-x32 {--ic-url:var(--ico-add-x32);} 
.ico-arrow-down.-x32 {--ic-url:var(--ico-arrow-down-x32);} 
.ico-arrow-left.-x32 {--ic-url:var(--ico-arrow-left-x32);} 
.ico-arrow-right.-x32 {--ic-url:var(--ico-arrow-right-x32);} 
.ico-arrow-up.-x32 {--ic-url:var(--ico-arrow-up-x32);} 
.ico-attachment.-x32 {--ic-url:var(--ico-attachment-x32);} 
.ico-banner.-x32 {--ic-url:var(--ico-banner-x32);} 
.ico-bell.-x32 {--ic-url:var(--ico-bell-x32);} 
.ico-blank.-x32 {--ic-url:var(--ico-blank-x32);} 
.ico-calendar.-x32 {--ic-url:var(--ico-calendar-x32);} 
.ico-call.-x32 {--ic-url:var(--ico-call-x32);} 
.ico-chart.-x32 {--ic-url:var(--ico-chart-x32);} 
.ico-checklist.-x32 {--ic-url:var(--ico-checklist-x32);} 
.ico-close.-x32 {--ic-url:var(--ico-close-x32);} 
.ico-community.-x32 {--ic-url:var(--ico-community-x32);} 
.ico-contents.-x32 {--ic-url:var(--ico-contents-x32);} 
.ico-download.-x32 {--ic-url:var(--ico-download-x32);} 
.ico-education.-x32 {--ic-url:var(--ico-education-x32);} 
.ico-email.-x32 {--ic-url:var(--ico-email-x32);} 
.ico-erp.-x32 {--ic-url:var(--ico-erp-x32);} 
.ico-excel.-x32 {--ic-url:var(--ico-excel-x32);} 
.ico-external-link.-x32 {--ic-url:var(--ico-external-link-x32);} 
.ico-first.-x32 {--ic-url:var(--ico-first-x32);} 
.ico-folder.-x32 {--ic-url:var(--ico-folder-x32);} 
.ico-home.-x32 {--ic-url:var(--ico-home-x32);} 
.ico-inbox.-x32 {--ic-url:var(--ico-inbox-x32);} 
.ico-info.-x32 {--ic-url:var(--ico-info-x32);} 
.ico-infor.-x32 {--ic-url:var(--ico-infor-x32);} 
.ico-last.-x32 {--ic-url:var(--ico-last-x32);} 
.ico-location.-x32 {--ic-url:var(--ico-location-x32);} 
.ico-management.-x32 {--ic-url:var(--ico-management-x32);} 
.ico-menu.-x32 {--ic-url:var(--ico-menu-x32);} 
.ico-menu2.-x32 {--ic-url:var(--ico-menu2-x32);} 
.ico-message.-x32 {--ic-url:var(--ico-message-x32);} 
.ico-org-char.-x32 {--ic-url:var(--ico-org-char-x32);} 
.ico-pencil.-x32 {--ic-url:var(--ico-pencil-x32);} 
.ico-popup.-x32 {--ic-url:var(--ico-popup-x32);} 
.ico-port.-x32 {--ic-url:var(--ico-port-x32);} 
.ico-price.-x32 {--ic-url:var(--ico-price-x32);} 
.ico-reset.-x32 {--ic-url:var(--ico-reset-x32);} 
.ico-search.-x32 {--ic-url:var(--ico-search-x32);} 
.ico-settings.-x32 {--ic-url:var(--ico-settings-x32);} 
.ico-site.-x32 {--ic-url:var(--ico-site-x32);} 
.ico-star.-x32 {--ic-url:var(--ico-star-x32);} 
.ico-survey.-x32 {--ic-url:var(--ico-survey-x32);} 
.ico-technology.-x32 {--ic-url:var(--ico-technology-x32);} 
.ico-user.-x32 {--ic-url:var(--ico-user-x32);} 
.ico-user-check.-x32 {--ic-url:var(--ico-user-check-x32);} 
.ico-up-down.-x32 {--ic-url:var(--ico-up-down-x32);}
.ico-vote.-x32 {--ic-url:var(--ico-vote-x32);} 
.ico-warning.-x32 {--ic-url:var(--ico-warning-x32);}
.ico-siren.-x32 {--ic-url:var(--ico-siren-x32);}